@media (max-width: 768px) {

  .titulo-main {
  font-size: 25px;
}

/*integrantes*/

  .membros {
    flex-direction: column;
    text-align: center;
  }
  .integrantes {
  width: 80%;
}
}
@media (min-width: 768px){

/*imagem amazon*/
.imgamazon-slideshow {
  width: 120vw;
  height: 40vw;
}

.titulo-main {
  font-size: 40px;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}

/*página faq */
.faq-tudo {
  margin: 0 auto;
  padding: 40px 20px;


}
.faq-bloco {
  margin: 0 auto;
  max-width: 1250px;
}
.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1250px;
  
}
.resposta {
  max-width: 1250px;
  margin: 0 auto;
  font-size: 20px;

}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}



/*integrantes*/

.integrantes {
  width: 90vw;
}

.membros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  box-sizing: border-box;
}

}



@media (min-width: 992px) {

  /*imagems*/
.imgamazon-slideshow {
  width: 100%;
  height: 30vw;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s ease-in-out;
}
.imgamazon {
 width: 100%;
 height: 100%;
}

.titulo-main {
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}


/* Hamburguer */

  /* Esconde o botão hamburguer no desktop */
  .hamb img,
  .container__botao,
  .hamb label {
    display: none;
  }

  /* Torna a lista visível e horizontal */
  .lista-hamb {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 2.5rem;
    margin-right: 45px;
    background: none;
    width: auto;
    margin-left: auto;
    border: none;
    padding: 0px;
  }
  .categorias {
    display: none;
  }

  .lista-hamb li {
    border: none;
    padding: 0;
  }

  .lista-hamb a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  /*conteudo P da home */
.infohome p { 
  padding-right: 70px;
  padding-left: 70px;
}

/*dados home*/

.dadoshome {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.numdados {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
.dadosagricultor {
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.dadosagricultor p {
  padding: 60px;
}

/*integrantes*/
.integrantes {
  width: 90%;
}



/*página faq */
.faq-tudo {
  margin: 0 auto;
  padding: 40px 20px;

}
.faq-bloco {
  margin: 0 auto;
  max-width: 1000px;
}
.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1000px;
  
}
.resposta {
  max-width: 1000px;
}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}







@media (hover: hover) {
  .faq-botao:hover {
    background-color: #0b8d3286;
  }
.membros .github:hover,
.membros .linkedin:hover {
  text-decoration: underline;
  color: #1f3d1b;
}
}


}
