@media (max-width: 768px) {

  .titulo-main {
  font-size: 25px;
}

}
@media (min-width: 768px){

/*imagem amazon*/
.imgamazon-slideshow {
  width: 120vw;
  height: 40vw;
}

.titulo-main {
  font-size: 40px;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}

/*página faq */
.faq-tudo {
  margin: 0 auto;
  padding: 40px 20px;


}
.faq-bloco {
  margin: 0 auto;
  max-width: 1250px;
}
.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1250px;
  
}
.resposta {
  max-width: 1250px;
  margin: 0 auto;
  font-size: 20px;

}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}

/*integrantes*/

.membros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  box-sizing: border-box;
}

}


/*formulario*/

.formulario {
  font-size: 20px;
  width: 100vw;
}
input,
select,
textarea {
  font-size: 1.4rem;
  margin: 5px;
}

/*sobrenos*/

.tudosobre {
  padding: 0;
}

.quemsomosnos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 100vw;
    margin: 0;
    padding: 50px 80px;
    font-size: 24px;
}
.objetivoprojeto {
  font-size: 24px;
}
.textosomos {
  padding-left: 100px;
  padding-right: 100px;
}

.integrantes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 120vw;
    padding: 50px 80px;
  }

  .membros {
    width: 220px;
    padding: 30px;
    background-color: #ffffff;
  }

  .membros img {
    width: 130px;
    height: 130px;
  }

  .membros .nome {
    font-size: 1.3rem;
  }

  .membros .rm {
    font-size: 1.2rem;
  }

  .membros .github,
  .membros .linkedin {
    font-size: 1.2rem;
    font-weight: 600;
  }

.centraliza, #turma {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}


@media (min-width: 992px) {

  /*imagems*/
.imgamazon-slideshow {
  width: 100%;
  height: 30vw;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s ease-in-out;
}
.imgamazon {
 width: 100%;
 height: 100%;
}

.titulo-main {
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}


/* Hamburguer */

  /* Esconde o botão hamburguer no desktop */
  .hamb img,
  .container__botao,
  .hamb label {
    display: none;
  }

  /* Torna a lista visível e horizontal */
  .lista-hamb {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 2.5rem;
    margin-right: 45px;
    background: none;
    width: auto;
    margin-left: auto;
    border: none;
    padding: 0px;
  }
  .categorias {
    display: none;
  }

  .lista-hamb li {
    border: none;
    padding: 0;
  }

  .lista-hamb a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  /*conteudo P da home */
.infohome p { 
  padding-right: 70px;
  padding-left: 70px;
}

/*dados home*/

.dadoshome {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.numdados {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
.dadosagricultor {
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.dadosagricultor p {
  padding: 60px;
}

/*integrantes*/
.integrantes {
  width: 90%;
}



/*página faq */
.faq-tudo {
  margin: 0 auto;
  padding: 40px 20px;

}
.faq-bloco {
  margin: 0 auto;
  max-width: 1000px;
}
.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1000px;
  
}
.resposta {
  max-width: 1000px;
}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}

/*página formulario contato */

.formulario {
  max-width: 950px;
  
}


/*sobrenos*/

.tudosobre {
  padding: 0;
}

.quemsomosnos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 100vw;
    margin: 0;
    padding: 50px 80px;

    text-align: center;
}
.textosomos {
  padding-left: 100px;
  padding-right: 100px;
}

.integrantes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 120vw;
    padding: 50px 80px;
  }

  .membros {
    width: 300px;
    padding: 30px;
    background-color: #ffffff;
  }

  .membros img {
    width: 150px;
    height: 150px;
  }

  .membros .nome {
    font-size: 1.2rem;
  }

  .membros .rm {
    font-size: 1.2rem;
  }

  .membros .github,
  .membros .linkedin {
    font-size: 1rem;
  }

.centraliza, #turma {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
}


@media (hover: hover) {
  .faq-botao:hover {
    background-color: #0b8d3286;
  }
.membros .github:hover,
.membros .linkedin:hover {
  text-decoration: underline;
  color: #1f3d1b;
}


/*projetos*/

.email__numero {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.email__numero input {
  flex: 1;
  min-width: 0;
}

#emailnewsletter::placeholder,
#celularnewsletter::placeholder,
#nomenewsletter::placeholder {
  font-size: 18px;
  color: #888;
}
.checkbox__newsletter input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#atualizacoes-newsletter {
  text-align: center;
  text-align: center;
  font-size: 1.875rem;
}
.checkbox__newsletter input[type="checkbox"] {
  cursor: pointer;
}
.newsletter__pai input[type="submit"] {
  cursor: pointer;
}
.email__numero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

}

