/* == Mobile Styles (max-width: 767px) == */


@media (max-width: 767px) {

  .titulo-main {
  font-size: 25px;
}
}

/* == Tablet Styles (min-width: 768px) == */

@media (min-width: 768px){

/*imagem amazon*/

.titulo-main {
  font-size: 40px;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}

/*página faq */
.faq-tudo {
  margin: 10px auto;
}
.faq-bloco {
  max-width: 1000px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1250px;
  
}
.resposta {
  max-width: 1250px;
  margin: 0 auto;
  font-size: 20px;

}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}

/*integrantes*/

.membros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  box-sizing: border-box;
}

}


/*formulario*/

.formulario {
  font-size: 20px;
  width: 80vw;
}
input,
select,
textarea {
  font-size: 1.4rem;
  margin: 5px;
}

/*sobrenos*/

.tudosobre {
  padding: 0;
}

.quemsomosnos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
    margin: 0;
    padding: 50px;
    font-size: 1.4rem;
}
.objetivoprojeto {
  font-size: 1.4rem;
}

.integrantes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 100%;
    padding: 50px 80px;
  }

  .membros {
    width: 220px;
    padding: 30px;
    background-color: #ffffff;
  }

  .membros img {
    width: 130px;
    height: 130px;
  }

  .membros .nome {
    font-size: 1.3rem;
  }

  .membros .rm {
    font-size: 1.2rem;
  }

  .membros .github,
  .membros .linkedin {
    font-size: 1.2rem;
    font-weight: 600;
  }

.centraliza, #turma {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}


/*texto gafico*/

.slidedemeses {
  width: 600px;
  height: auto;
}
.blocoum__projeto h3 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}
.blocoum__projeto p {
  font-family: var(--fonte-primaria);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px;
  text-align: left;
}
.blocotexto__projeto h3 {
    font-size: 2.2rem;
}
.blocodois__projeto p {
  font-size: 1.4rem;
}
.dicasdeprevencao {
  box-sizing: border-box;
  margin: 0 auto;
}
.prevenir {
  margin: 10px auto;
  width: 80%;
}


/* == Desktop Styles (min-width: 1080px) == */
  
@media (min-width: 1080px) {

  /*imagems*/
.imgamazon-slideshow {
  width: 100%;
  height: 32vw;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s ease-in-out;
}
.imgamazon {
 width: 100%;
 height: 100%;
}

.titulo-main {
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.lista-hamb { /*sempre por cima*/
  z-index: 1000;
}


/* Hamburguer */

  /* Esconde o botão hamburguer no desktop */
  .hamb img,
  .container__botao,
  .hamb label {
    display: none;
  }

  /* Torna a lista visível e horizontal */
  .lista-hamb {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 2.5rem;
    margin-right: 45px;
    background: none;
    width: auto;
    margin-left: auto;
    border: none;
    padding: 0px;
  }
  .categorias {
    display: none;
  }

  .lista-hamb li {
    border: none;
    padding: 0;
  }

  .lista-hamb a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  /*conteudo P da home */
.infohome p { 
  padding-right: 70px;
  padding-left: 70px;
}

/*dados home*/

.dadoshome {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.numdados {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
.dadosagricultor {
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.dadosagricultor p {
  padding: 60px;
}

/*integrantes*/
.integrantes {
  width: 90%;
}



/*página faq */

.faq-tudo {
  margin: 0 auto;
  padding: 40px 20px;
}
.faq-bloco {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 12px;
}
.faq-botao {
  font-size: 18px;
  padding: 20px;
  max-width: 1000px;
  
}
.resposta {
  max-width: 1000px;
}

.resposta.show {
  max-height: 1000px;
  padding: 30px;
}

/*página formulario contato */

.formulario {
  max-width: 950px;
  
}


/*sobrenos*/

.tudosobre {
  padding: 0;
}

.quemsomosnos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    margin: 0;
    padding: 50px 80px;
    text-align: center;
}
.textosomos {
  padding-left: 100px;
  padding-right: 100px;
}

.integrantes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border-radius: 0;
    width: 100%;
    padding: 50px 80px;
  }

  .membros {
    width: 300px;
    padding: 30px;
    background-color: #ffffff;
  }

  .membros img {
    width: 150px;
    height: 150px;
  }

  .membros .nome {
    font-size: 1.2rem;
    text-align: center;
  }

  .membros .rm {
    font-size: 1.2rem;
  }

  .membros .github,
  .membros .linkedin {
    font-size: 1rem;
  }

.centraliza, #turma {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
/*projetos*/

#emailnewsletter::placeholder,
#celularnewsletter::placeholder,
#nomenewsletter::placeholder {
  font-size: 18px;
  color: #888;
}
.checkbox__newsletter input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#atualizacoes-newsletter {
  text-align: center;
  text-align: center;
  font-size: 1.875rem;
}
.checkbox__newsletter input[type="checkbox"] {
  cursor: pointer;
}
.newsletter__pai input[type="submit"] {
  cursor: pointer;
}
.email__numero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

/*texto gafico*/

.blocoum__projeto h3 {
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
}
.blocoum__projeto p {
  padding: 0;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.layout-projeto {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .blocotexto__projeto p {
    display: flex;
    font-size: 1.4rem;
    padding-left: 30px;
    padding-right: 60px;
    text-align: left;
  }
  .slidedemeses {
    width: 700px;
    height: 450px;
  }

  .graficoqueimadas {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

.slidedemeses {
  max-width: 700px;
  max-height: 450px;
}

  .blocotexto__projeto {
    padding-left: 10px;
}
.dicasdeprevencao {
  box-sizing: border-box;
  margin: 0 auto;
}
.prevenir {
  margin: 15px auto;
  width: 40%;
  height: auto;
}
}


@media (hover: hover) {
  .faq-botao:hover {
    background-color: #0b8d3286;
  }
.membros .github:hover,
.membros .linkedin:hover {
  text-decoration: underline;
  color: #1f3d1b;
}
button.prev:hover,
button.next:hover {
  background-color: rgba(131, 192, 131, 0.8);
}
#limpar:hover {
  background-color: rgb(206, 0, 0);
}
#enviar:hover {
  background-color: rgb(0, 85, 21);
}
.faqajuda a:hover {
  text-decoration: underline; 
}
#faqlink {
  text-decoration:underline;
  color: var(--aqua);
  
}
.entreemcontato a {
  color: black;
  text-decoration: underline; 
  font-weight: normal;
}
}

