/*root*/
:root {
    --laranja: #4267df;
    --aqua: rgba(34, 96, 41, 0.843);
    --branco: #ffffff;
    --preto: #000000;
    --vermelho: #ff0000;
    --fonte-primaria: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-segundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
}

/* Header */
.contain {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: relative;
}

/* Logo */
.logo {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

/* Hamburguer */

.hamb img {
    width: 40px;
    cursor: pointer;
}
.container__botao {
    display: none;
}
.lista-hamb {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    background-color:var(--branco);
    list-style: none;
    text-transform: uppercase;
    width: 50vw;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--preto);
    border-left: 1px solid var(--preto);
    border-right: 1px solid var(--preto);
    z-index: 2;
}

.lista-hamb li {
  margin: 10px auto;
  font-size: 16px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid var(--preto);
  padding-top: 10px;
}

.lista-hamb li a {
    text-decoration: none;
    color: var(--preto);
}
.categorias {
    color: var(--aqua);
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    letter-spacing: 1px;
}

/* Checkbox controlando o menu */
.container__botao:checked ~ .lista-hamb {
    display: block;
}
/*imagem amazon*/
.imgamazon-slideshow {
  width: 120vw;
  height: 70vw;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s ease-in-out;
}
.imgamazon {
 background-color: rgba(0, 0, 0, 0.4);
 width: 100%;
 height: 100%;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
}
.titulo-main {
  font-family: --fonte-segundaria;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.295);
  font-size: 30px;
  color: rgb(255, 255, 255);
  left: 15px;
  top: 120px;
  z-index: 1;
  text-transform: uppercase;
}

/* Conteúdo Home */
.infohome {
  max-width: 1000px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}
.infohome p {
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
    font-family: var(--fonte-primaria);
    text-align: center;
    
}
.botaohome {
  text-align: center;
}

.botao-saiba {
  background-color: var(--aqua);
  padding: 15px 35px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-family: var(--fonte-primaria);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.513);
}

.dadoshome {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.numdados {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
.dadosagricultor {
    background-color: var(--aqua);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    width: 100%;
    box-sizing: border-box;
}
.dadosagricultor p {
    background-color: rgba(194, 255, 166, 0.194);
    border-radius: 15px;
    font-size: 20px;
    margin: 15px;
    padding: 40px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.276);
}





/*pagina integrantes*/
.tudosobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.quemsomosnos {
  background-color: var(--aqua);
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 500;
  padding: 50px;
  text-align: center;
}

.objetivoprojeto {
  background: rgba(255, 255, 255, 0.239);
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 500;
  padding: 50px;
  text-align: center;
}
.integrantes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--aqua);
}
.membros {
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.28);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s;
}

.membros img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.membros .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.membros .nome {
  font-weight: 600;
  font-size: 1.2rem;
}

.membros .rm {
    font-size: 1.1rem;
  color: #555;
}

.membros .github,
.membros .linkedin {
  text-decoration: none;
  font-family: var(--fonte-segundaria);
  color: var(--aqua);
  font-size: 1.1rem;
  padding: 3px;
}

.centraliza {
  display: block;
  width: fit-content;
  margin: 0 auto 20px;
  font-family: var(--fonte-primaria);
  font-size: 35px;
}

#turma {
  font-family: var(--fonte-primaria);
  font-size: 20px;
  margin-bottom: 20px;
  
}

/*página faq */
.faq-tudo {
  margin: 10px auto;

.faq-bloco {
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.166);
}

}
.faq-botao {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  padding: 20px 24px;
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  font-family: var(--fonte-primaria);
  font-weight: 600;
  border: none;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.faq-perguntas {
  margin: 5px;
}
.faq-botao::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s ease;
  font-size: 1rem;
  color: #666;
}
.faq-botao.ativo::after {
  transform: translateY(-50%) rotate(180deg);
}
.resposta {
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  font-size: 18px;
  color: #000000;
  font-family: var(--fonte-primaria);
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 0 0 12px 12px;
  margin-top: -4px;
  padding: 0 24px;
  
}
.resposta.show {
  padding-top: 30px;
  padding-bottom: 20px;
  
}

#faqlink {
  text-decoration:underline;
  color: var(--aqua);
  
}
.corfooterfaq {
  color: var(--aqua);
  
}


/*pagina contato */



.faleconosco {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

#contatoh2 {
  padding: 10px;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}
#preencha-p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

.formulario {
  width: 80vw;
  padding: 20px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.372);
  flex-wrap: wrap;
  justify-content: center;
  display: block;
  font-size: 20px;
  background-color: var(--branco);
  
}

label {
  font-weight: 500;
}

input,
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;
  color: rgb(0, 0, 0);
  border: 1px solid #036500;
  font-size: 1.1rem;
  margin: 2px;
}
#contador {
  text-align: right;
  font-size: 0.9rem;
  color: #555;
  margin-right: 10px;
}
#aviso-limite {
  text-align: center;
  margin: 5px;
}

#genero-group {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#mensagem-sucesso {
  color: green; 
  margin-top: 10px; 
  display: none;
}
#arquivo {
  margin-bottom: 15px;
}
#enviar {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--aqua)
}

.form-group.error input:focus,
.form-group.error select:focus,
.form-group.error textarea:focus {
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
}
a[id$="-erro"] {
  color: #a11000;
  font-family: var(--fonte-segundaria);
  font-size: 0.8rem;
  padding: 1px;
}

.form-group.error a {
  visibility: visible;
  
}

.faleconosco a {
  visibility: hidden;
}

/* página da newsletter */
.blocoum__projeto {
  color: var(--branco);
  background-color: var(--aqua);
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 600;
  padding: 50px;
  text-align: left;
}
.oqueeprojeto {
  font-size: 1.3rem;
  margin: 0px;
  font-weight: 450;
  padding: 30px;
  text-align: left;
}
.blocotexto__projeto {
  color: var(--branco);
  background-color: var(--aqua);
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 500;
  padding: 30px;
  text-align: left;
}
.blocotexto__projeto h3 {
  font-family: var(--fonte-segundaria);
  font-weight: 500;
  text-align: center;
}

.blocotexto__projeto p {
  font-family: var(--fonte-segundaria);
  font-weight: 400;
  padding: 8px;
  text-align: left;
}

.blocodois__projeto {
  color: var(--branco);
  background-color: var(--aqua);
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 500;
  padding: 50px;
  text-align: left;
}
.blocodois__projeto h3 {
  font-size: 25px;
  padding: 8px;
  text-align: center;
}
.blocodois__projeto p {
  font-family: var(--fonte-segundaria);
  font-weight: 300;
}
.dicasdeprevencao {
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 500;
  padding: 50px;
  text-align: left;
}
.dicasdeprevencao {
  font-size: 1.7rem;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
}
.prevenir {
  font-family: var(--fonte-segundaria);
  font-weight: 500;
  background-color: #fafffa57;
  padding: 40px 30px;
  margin: 6px 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--preto);
  display: inline-block;
  border: 2px solid #0000006e;
  
}

#atualizacoes-newsletter {
  text-align: center;
  font-size: 26px;
  padding-top: 18px;
  font-family: Poppins;
  font-weight: 400;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formularionewsletter {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.newsletter__pai {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newsletter__pai input[type="text"],
.newsletter__pai input[type="email"],
.newsletter__pai input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--preto);
  background-color: transparent;
  border-radius: 5px;
}


#newsletterassine {
  text-align: start;
}
.checkbox__newsletter {
  display: flex;
  align-items: center;
  
}
.checkbox__newsletter input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

label[for="newsletterassine"] {
  font-size: 15px;
  margin-left: 6px;
  user-select: none;
}

/* Botão */
.newsletter__pai input[type="submit"] {
  background-color: #0d6d0d;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border: none;
  width: 100%;
}
.email__numero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.email__numero input {
  width: 100%;
}

.newsletter a {
  visibility: hidden;
}

#emailnewsletter::placeholder,
#celularnewsletter::placeholder,
#nomenewsletter::placeholder {
  font-size: 12px;
  color: #888;
}
/* Mensagens de erro da newsletter */
.error-message {
  color: rgb(121, 0, 0);
  font-size: 14px;
  margin-top: 4px;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.formularionewsletter input:focus {
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
}



/* Footer */
.footer {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.ul-footer {
    gap: 3vw;
}

.footer h3 {
    margin-bottom: 5px;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.direitos-footer {
    text-align: center;
    margin-bottom: 10px;
}
.graficoqueimadas {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.slidedemeses {
  width: 450px;
  height: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mesporslide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
  height: 100%;
}
/* Botões */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  background-color: #036500;
  border: 2px solid rgb(27, 109, 0);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(131, 192, 131, 0.8);
}

button.prev {
  left: 5px;
}

button.next {
  right: 5px;
}